# Dependencies
node_modules/
backend/venv/

.pnpm-store/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

.temp/
# Next.js
.next/
out/
# frontend/build/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing / coverage
coverage/
.coverage
htmlcov/
.pytest_cache/
.tox/

# Misc
*.tsbuildinfo
